{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    .box:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
      }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{work.sname}}</li>
    </ol>
</nav>
<div class="container">
    
      </nav>
    <div class="row">
        <!-- Blog Entries Column -->
        {%if work.work_files or work.work_instructions or work.work_zayavki or work.work_normativ %}
        <div class="col-md-8 mt-3 left">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{work.fname}}e</h5>
                  <p class="card-text">{{work.content|safe}}</p>
                </div>
              </div>
              {% block work_newsbox %} {% include 'razdel/work_newsbox.html' %} {% endblock work_newsbox %}
              
        </div> 
        <div class="col-md-4 float-right ">
          {% if work.work_zayavki %}
            {% block work_zayavki %} {% include 'razdel/work_zayvki.html' %} {% endblock work_zayavki %}
          {% endif %}
          {% if work.work_files %}
            {% block sidebar %} {% include 'razdel/work_files.html' %} {% endblock sidebar %}
          {% endif %}
        </div>
    </div>
        {%else%}
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{work.fname}}e</h5>
                  <p class="card-text">{{work.content|safe}}</p>
                </div>
              </div>
        </div>
        {%endif%}
</div>
{%endblock%}