{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    .box:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
      }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Закупки</li>
    </ol>
</nav>
<div class="container">

<div class="container">
    <div class="row">
        <div class="card my-4">
            <h5 class="card-header">Закупки</h5>
            {% if zakupki_list %}
                <div class="card-body">
                    {% for entry in zakupki_list %}
                <a href="{{entry.link}}" class="text-dark" style='text-decoration: none'>{{entry.title}}
                <br/>
                <span style="font-size: 15px; color: grey">{{entry.date|date:"d.m.Y"}}</span>
                {% if forloop.last %}
                
                {%else%}
                <hr/>
                {%endif%}
                </a>
                {% endfor %}    
                </div>
            </div>
        </div>
                {% if news_list.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if news_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news_list.previous_page_number }}" tabindex="-1" aria-disabled="true">Назад</a>
                          </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
                      </li>
                      {% endif %}
                      {% for page_number in news_list.paginator.page_range %}
                        {% if news_list.number == page_number %}
                          <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                          {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                          {% endif %}
                          {% endfor %}
                          {% if news_list.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ news_list.next_page_number }}">Вперед</a>
                            </li>
                          {%else%}
                          <li class="page-item disabled">
                          <a class="page-link" href="#">Вперед</a>
                      </li>
                          {%endif%}
                    </ul>
                  </nav>

               
                {% endif %}
            {% else %}
                <p>Новостей не загружено</p>
            {% endif %}
        </div>
        
       
        
    </div>
</div>
{%endblock%}